.root{
	$root: &;
	background-color: transparent;

	&__body{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		& .toolbar{
			width: 100%;
			height: var(--header-toolbar-height);
			
			display: flex;
			align-items: center;
			justify-content: space-between;

			gap: 10px;
			
			background-color: var(--mui-palette-common-white);

			&.black{
				background-color: var(--mui-palette-common-black);
			}
		}
		& .actions{
			display: flex;
			gap: 10px;
		}
	}
}